.serie-numbers-container {
  border-top: 1px solid;
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
